/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

}

ul.nav, .jumbotron h1 {
    font-family: 'Arvo', serif;
}

#get-involved {
    background-color: #eee;

}

footer {
    background-color:darkred;
    padding-top: 150px;
    padding-bottom: 30px;
}

.jumbotron {
    color: white;
    text-align: center;
    font-size: 1em;
    background-image: url(../images/hero_image.jpg);
}

.jumbotron h1 {
    font-size: 4em;
    margin-bottom: 30px;
}

.jumbotron p {
    margin-bottom: 20px; 
    font-weight: 100;
    padding: 0px 50px;
}

ul.nav {
    font-size: 13px;
}

.homepage {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.homepage h2, .homepage h3 {
    
    color: red;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
}

.homepage h2 {
    
    color: red;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
}

.homepage h2 {
    font-size: 30px;
}

.homepage h3 {
    font-size: 24px;
}

.homepage p {
    
    font-size: 21px;
    font-weight: 200;
}

.homepage a {
    color: red;
}

.homepage a:hover {
    color: red;
    text-decoration: none;
    opacity: .8;
}

.homepage hr {
    border-top: 1px solid red;
    width: 149px;
    margin-top: 15px;
}

/* Responsive styling*/

@media (max-width: 1199px) { 

    .jumbotron h1 {
        font-size: 62px;
        margin-bottom: 45px;
        
    }
    
}

@media (max-width: 991px) { 

    #get-involved .col-md-4 {
        padding-top: 20px;
        padding-bottom: 30px;
        
    }
    
}

@media (max-width: 767px) { 

    .jumbotron h1 {
        
        font-size: 40px;
        
    }
    
}


